* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #faf6f0;
  color: #333;
}

header {
  background: #7b1e1e;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.subtitle {
  opacity: 0.9;
}

.hero {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(#fff, #f3e6d8);
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.menu {
  max-width: 600px;
  margin: 40px auto;
}

.menu-item {
  background: white;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.contact {
  text-align: center;
  padding: 40px;
}

.btn {
  display: inline-block;
  background: #7b1e1e;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #eee;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 14px 18px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.img-site {
  max-width: 100%;
  height: auto;
  display: block;
  
}
.img-site {
  width: 300px;      /* ajuste : 200px / 250px / 300px */
  height: auto;
  display: block;
}